html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Additional Styles */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, #000000, #26045c);
}

.transition-all {
  transition: all 0.3s ease;
}

.hover\:bg-gradient-to-br:hover {
  background-image: linear-gradient(to bottom right, #32027e, #000000);
}

/* Example of how to apply the gradient effect */
#element {
  font-smooth: antialiased;
  background-image: linear-gradient(to bottom, #000000, #26045c);
  transition: all 0.3s ease;
}

#element:hover {
  background-image: linear-gradient(to bottom right, #32027e, #000000);
}
